*{
    margin: 0;
    font-family: monospace;
}

body{
    height: 100%
}

.background{
    background-image: url(../images/cyberpunk.gif);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}

footer{
    background-color:transparent;
    position: relative;
    color:white;
    font-size: large;
    height: 44px;
    margin-top: -44px;
    clear:both;
    text-align: center;
}

.mybuttons{
    background-color: transparent;
    color: white;
    border: 0;
    font-size: large;
}

.mybuttons:hover{
    cursor: pointer;
    text-decoration: underline;
}