*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

body{
    background-color: #121212;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

header{
    justify-content: space-between;
    background-color: #121212;
    align-items: center;
    padding: 30px 40px;
    text-align: center;
    position: fixed;
    font-size: large;
    display: flex;
    z-index: 300;
    width: 100%;
    left: 0;
    top: 0;
}

.logo{
    font-size: 30px;
    color: #bdbdbd;
    text-decoration: none;
    cursor:auto;
    font-weight: 500;
    user-select: none;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #9f9f9f;
    font-weight: 500;
    margin-left: 30px;
    text-decoration: none;
}

.navbar a:hover{
    text-decoration: underline;
    color:white;
}

.container{
    background-color: #1b1b1d;
    position: absolute;
    padding: 1rem;
    border-radius: .5rem;
    width: 600px;
    max-width: 90%;
    z-index: 150;
    font-size: 20px;
}

.paragraph{
    margin-bottom: 1rem;
    padding: 12px;
    color: #9f9f9f;
}

.textbox{
    background-color: #222325;
    border-radius: .5rem;
    outline: none;
    border: none;
    width: 100%;
    height: 2.5em;
    resize: none;
    padding: 12px;
    font-size: 1em;
    overflow: hidden;
    color:white
}

.textbox:focus{
    border-color: white;
}

.correct {
    color: #464646;
}

.incorrect{
    color: rgb(73, 34, 34);
}

.next {
    color: #c8c8c8;
}

.wordDisplay{
    text-align: center;
    padding:12px;
    font-size: medium;
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 100%;
    color: #727272;
    z-index: 500;
}

.resetButton{
    padding: 12px;
    border-radius: .5rem;
    background-color: #222325;
}

.resetButton:hover{
    background-color: #2e3033;;
    cursor: pointer;
}

.reset{
    user-select: none;
}